@font-face {
    font-family: 'urbanist';
    src: url('../fonts/Urbanist/Urbanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('../fonts/urbanist/Urbanist-Light.ttf') format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --off-white: #FFF5EE;
    --cocoa-brown: #392525;
    --aubergine: #440909;
    --soft-peach: #F4ECEC;
    --deep-coffee: #6D443C;
    --persian-red: #CB2929;
    --burnt-umber: #872522;

    --font-title: 'urbanist', Georgia, 'Times New Roman', Times, serif;
    --font-text: 'open-sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--off-white);
    color: var(--aubergine);
    margin: 3em 2em 0 2em;
}

p {
    font-family: var(--font-text);
    text-align: justify;
    line-height: 25px;
}

h1 {
    color: var(--aubergine);
    font-size: 250%;
    font-family: var(--font-title);
    letter-spacing: 3px;
    text-align: left;
    margin: -1.1em 0 1em -0.5em;
}

h2 {
    font-family: var(--font-title);
    margin: 2rem 0 0.5rem 0;
    letter-spacing: 1px;
    text-decoration: underline;
}

h3 {
    font-size: 200%;
    font-family: var(--font-title);
    margin: 0;
    text-align: center;
}

li {
    line-height: 1.7;
    font-size: 105%;
    font-family: var(--font-text);
}

nav { 
    font-size: 120%;
    font-family: var(--font-title);
    text-align: right;
    word-spacing: 0.2em;
} 

section {
    font-family: var(--font-text);
}

footer {
    color: var(--off-white);
    background-color: var(--burnt-umber);
    font-family: 'urbanist', Arial, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
    margin: 2rem -2rem 0 -2rem;
    border-top: var(--cocoa-brown) solid 6px;
}

footer p {
    font-family: var(--font-text);
    text-align: center;
    margin: 0;
}

header {
    margin: 0 0 3em 0;
}

.large-nav-bar {
    display: none;
}

a.portfolio-link:link {
    color: var(--soft-peach);
    font-family: 'urbanist', Arial, Helvetica, sans-serif;
    text-align: left;
}

a.portfolio-link:hover {
    color: var(--soft-peach);
    text-decoration: underline;
}

a.portfolio-link:visited {
    color: var(--cocoa-brown);
}

a:link {
    color: var(--persian-red);
    font-family: var(--font-title);
    text-decoration: none;
}

a:visited {
    color: var(--persian-red);
}

a:hover {
    color: var(--deep-coffee);
}

/* hamburger menu */
#burger-menu {
  height: 50px;
  width: 50px;
  margin-top: -1rem;
  position: relative;
  z-index:2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--burnt-umber);
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  top: 13px;
  width: 25px;
  border-radius: 90px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 25px;
  border-radius: 90px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 25px;
  border-radius: 90px;
}

#burger-menu.close span {
    background: var(--off-white);
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
  background: var(--off-white);
}

#burger-menu.close span:after {
  top: 0px;
  right: 0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

#menu {
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top: 90px;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  background: var(--deep-coffee);
}

#menu li {
  list-style:none;
  margin: 2em 0;
}

#menu a {
  color: var(--off-white);
  font-size: 32px;
  margin-bottom:30px;
  text-decoration:none;
}

ul.burger-lists {
    margin: 5rem auto;
}

/* resume section */
.resume-layout {
    margin: auto 1.5rem;
}

#resume-top {
    margin: 2rem 0;
}

#resume-top p {
    line-height: 1.7;
    font-size: 110%;
    text-align: center;
}

.experience {
    margin: 2.75em auto;
}


/* portfolio css section */

section.projects {
    margin: 11.5rem 0;
}

.portfolio-button {
    background-color: var(--persian-red);
    text-align: center;
    line-height: 80px;
    border-radius: 40px;
    color: var(--soft-peach);
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 1;
    margin: 2rem 2rem;
    padding: 30px 0;    
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a.home-portfolio-button:link {
    color: var(--soft-peach);
}

a.home-portfolio-button:visited {
    color: var(--soft-peach)
}

.portfolio-button:hover, .home-portfolio-button:hover {
    background-color: var(--deep-coffee);
    scale: 105%;
}

.portfolio-pics img {
    width: 100%;
    height: auto;
    margin: 1em 0;
    animation: fadeInAnimation ease 2s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.artwork:hover img {
filter: opacity(50%);}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#portfolio-intro {
    text-align: center;
    font-size: 220%;;
    text-decoration: none;
    margin: 1rem;
    animation: fadeInSlide ease 1.5s 1, colorChange ease 2.5s infinite;
    animation-fill-mode: forwards;
}

@keyframes colorChange {
    0% {
        color: var(--cocoa-brown)
    }
    33% {
        color: var(--persian-red)
    }
    66% {
        color: var(--burnt-umber)
    }
    100% {
        color: var(--cocoa-brown)
    }
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        margin-top: 70%;
    }
    100% {
        opacity: 1;
        margin-bottom: 0%;
    }
}

a.back-button {
    margin: 0 -2rem 0 0;
}

.back-button img {
    width: 45%;
    height: auto;
    margin: -1rem -2rem -1rem 0;
}

.back-button {
    justify-content: left;
}

.portfolio-header {
    display: flex;
    justify-content: left;
    margin: 2rem 0 1rem 0;
}

/* end portfolio css section */

/* home page */

hr.solid {
    border-top: var(--burnt-umber) solid 5px;
    margin: -2em -2em 0 -4em;
    animation: slide-in linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        margin-right: 0%;
    }
    0% {
        margin-right: 100%;
    }
}

#home-welcome {
    text-align: center;
    text-decoration: none;
    animation: colorChange ease 2.5s infinite;
}

@keyframes colorChange {
    0% {
        color: var(--cocoa-brown)
    }
    33% {
        color: var(--persian-red)
    }
    66% {
        color: var(--burnt-umber)
    }
    100% {
        color: var(--cocoa-brown)
    }
}

#home-name {
    font-size: 220%;
    display: flex;
    justify-content: right;
    margin-top: 0.5em;
    text-decoration: none;
}

#home-welcome {
    font-size: 300%;
    display: flex;
    justify-content: right;
}

#home-portfolio {
    font-family: var(--font-text);
    text-align: right;
    font-size: 110%;
    line-height: 3;
}


#home-bio {
    font-size: 85%;
    margin-top: 4rem;
    line-height: 1.5;
    text-align: left;
    max-width: 25ch;
}

.home-portfolio-button {
    background-color: var(--persian-red);
    border-radius: 30px;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 0.75;
    margin: 0 0 0 auto;
    text-align: right;
    padding: 30px;
} 

.lower-bio {
    display: grid;
    justify-items: left;
    margin: 6rem 0;
}

/* end of home page styling */

/* about page stylings */

.full-about {
    margin: 2rem 0;
}

.bio-pfp {
    border-radius: 400px;
    border: 3px solid var(--burnt-umber);
    object-position: 0.05cm 0.04cm;
    width: 50%;
    height: auto;
    margin: 2em 1em;
}

.headshot {
    width: 80%;
    height: auto;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        margin-top: 50%;
    }
    100% {
        opacity: 1;
        margin-bottom: 0%;
    }
} 
}

.about-bio {
    margin: 1rem 0;
    padding: 10px;
    min-width: 20ch;
}

a.about-link:link {
    font-size: 150%;
    text-align: center;
}

/* media queries below */

@media screen
and (min-width: 1000px) {
    .search {
        font-size: 200%;
        word-spacing: 15px;
        text-align: right;
    }
}

@media screen
and (min-width: 1200px) {
    .search {
        font-size: 200%;
        word-spacing: 40px;
        text-align: right;
    }
} /* end nav bar media queries */

@media screen
and (min-width: 320px) { /* start home page media queries */
        body.intro-page {
            background-image: url('../graphics/home_mobile.png');
            background-repeat: no-repeat;
            background-position: 1cm 2.6cm;
            background-size: 80% 110%;        
            height: 82vh;
        }

        #home-welcome {
            font-size: 300%;
            display: flex;
            justify-content: right;
        }

        #home-name {
            font-size: 220%;
            display: flex;
            justify-content: right;
            margin-top: 0.5em;
        }

        #home-bio {
            margin-top: -0.5rem;
            line-height: 1.5;
            text-align: left;
        }

    

        .lower-bio {
            display: grid;
            justify-content: right;
            margin-top: 4rem;
        }
    }

@media screen
and (min-width: 425px) {
    body.intro-page {
        background-image: url('../graphics/home_mobile.png');
        background-repeat: no-repeat;
        background-position: 1cm 2.6cm;
        background-size: 80% 110%;        
        height: 90vh;
    }

    #home-welcome {
        font-size: 300%;
        display: flex;
        justify-content: right;
    }

    #home-name {
        font-size: 220%;
        display: flex;
        justify-content: right;
        margin-top: 1em;
    }

    #home-bio {
        line-height: 1.5;
        text-align: left;
        margin: 3rem 0;
    }

    .lower-bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen
and (min-width: 700px) {
    body.intro-page {
        background-image: url('../graphics/home_tablet.png');
        background-repeat: no-repeat;
        background-position: 1.4cm 2.7cm;
        background-size: 85% 130%;
        height: 120vh;
    }

    .home-intro {
        margin: 7rem 1rem;
    }

    #home-welcome {
        text-align: center;
        text-decoration: none;
    }

    #home-name {
        font-size: 240%;
        display: flex;
        justify-content: right;
        margin-top: 0.5em;
        text-decoration: none;
    }

    #home-welcome {
        font-size: 350%;
        display: flex;
        justify-content: right;
    }

    #home-portfolio {
        font-family: var(--font-text);
        text-align: center;
        font-size: 120%;
    }

    #home-bio {
        font-size: 110%;
        line-height: 1.5;
        text-align: left;
        max-width: 29ch;
        margin: 5rem 0 0 0;
    }

    .home-portfolio-button {
        background-color: var(--persian-red);
        border-radius: 30px;
        font-size: 25px;
        letter-spacing: 4px;
        line-height: 0.75;
        margin: 0 0 0 auto;
        text-align: right;
        padding: 30px;
        grid-row: 2;
    } 

    .lower-bio {
        display: grid;
        justify-content: right;
        margin: 5rem 0;
    }
}

@media screen
and (min-width: 1200px) {
    body.intro-page {
        background-image: url('../graphics/home_desktop.png');
        background-repeat: no-repeat;
        background-position: 1cm 2.8cm;
        background-size: 100% 200%;
        height: 120vh;
    }

    .home-intro {
        margin: 8rem 5rem;
    }

    #home-welcome {
        font-size: 450%;
    }

    #home-name {
        font-size: 350%;
    }

    #home-bio {
        font-size: 175%;
        line-height: 1.8;
        max-width: 40ch;
        margin: 10em 3em;
    }

    #home-portfolio {
        font-size: 230%;
    }

    .home-portfolio-button {
    background-color: var(--persian-red);
    font-size: 250%;
    text-align: center;
    padding: 70px 200px;
    } 

    .lower-bio {
        justify-items: flex-end;
        margin-top: -3rem;
    }

} /* end home page media screens */


@media screen   /* about page media screens */
and (min-width: 1200px) {

  .full-about {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
    margin: 2rem;
    padding: 60px;
  }

  .about-bio p {
    font-size: 1.3rem;
    line-height: 1.4;
    padding: 40px;
  }

   .bio-pfp {
    margin-left: 9rem;
    justify-content: center;
  }

  .headshot {
    display: flex;
    flex-direction: column;
    margin-left: -6rem;
    width: 600px;
    height: auto;
  }
}

/* contact form media queries */

@media screen 
and (min-width: 1000px) {
    .contact-fill {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        margin: 3em 2em;
    }

    .form-text {
        align-self: center;
    }
}

/* resume layout media queries */ 

@media screen
and (min-width: 700px) {
    #resume-top p {
    line-height: 2;
    }
}

@media screen 
and (min-width: 1000px) {
        .resume-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        margin: 3em;

    } 
}

/* portfolio media queries */

@media screen 
and (min-width: 1000px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-button {
        font-size: 40px;
        padding: 300px 50px;
        line-height: 1em;
    }
}


@media screen
and (min-width: 700px) {
    .portfolio-pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        align-items: center;
    }

    .portfolio-pics p {
        align-self: center;
    }

    .portfolio-title {
        column-gap: 10px;
    }

    .portfolio-header {
        display: flex;
        justify-content: left;
        margin: 0;
    } 

    section.projects {
        display: flex;
        flex-direction: column;
    }

    .portfolio-button {
        padding: 30px;
        margin: 1rem 5rem;
    }
}

@media screen
and (min-width: 1000px) {
    .portfolio-pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen 
and (min-width: 1000px) {
    .large-nav-bar {
        display: block;
    }

    .hamburger {
        display: none;
    }
}

