@font-face {
    font-family: 'almarai';
    src: url(../fonts/Almarai/Almarai-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'almarai';
    src: url('Almarai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'almarai';
    src: url('Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'almarai';
    src: url('Almarai-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('../fonts/Urbanist/Urbanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* fonts used above */

* {
    box-sizing: border-box;
}

:root {
    --off-white: #FFF5EE;
    --cocoa-brown: #392525;
    --aubergine: #440909;
    --soft-peach: #F4ECEC;
    --deep-coffee: #6D443C;
    --persian-red: #CB2929;
    --burnt-umber: #872522;

    --font-title: 'urbanist', Georgia, 'Times New Roman', Times, serif;
    --font-text: 'Almarai';
}

html {
    margin: 0;
}

body {
    background-color: var(--off-white);
    color: var(--aubergine);
    margin: 3.5em 3em 2em;
}

p {
    font-family: 'almarai', Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 20px;
    max-width: 45ch;
}

h1 {
    color: var(--aubergine);
    font-size: 250%;
    font-family: 'urbanist', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-align: left;
    margin: -1em 0 1em -0.5em;
}

h2 {
    font-family: 'urbanist', Georgia, 'Times New Roman', Times, serif;
    margin: 1.5em 0 0 0;
    letter-spacing: 1px;
    text-decoration: underline;
}

h3 {
    font-size: 150%;
    font-family: 'urbanist', Georgia, 'Times New Roman', Times, serif;
    margin: 2em 0 1em 0;
    text-align: center;
}

li {
    line-height: 1.7;
    font-size: 105%;
    font-family: 'Almarai', Arial, Helvetica, sans-serif;
}

nav {
    font-size: 1em;
    font-family: "almarai", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0.5em;
    margin: -2em 0 -0.5em 0;
    word-spacing: 0.2em;
}

footer {
    color: var(--off-white);
    background-color: var(--burnt-umber);
    font-family: 'urbanist', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 30px;
    align-content: center;
}

form {
    font-family: "almarai", Arial, Helvetica, sans-serif;
    margin: 3em 0 1.5em 0;
    letter-spacing: 0.4px;
}

header {
    /* border-bottom: 3px solid var(--burnt-umber); */
    margin: 0 0 3em 0;
}


a.portfolio-link:link {
    color: var(--soft-peach);
    font-family: 'urbanist', Arial, Helvetica, sans-serif;
}

a.portfolio-link:hover {
    color: var(--deep-coffee);
    text-decoration: underline;
}

a.portfolio-link:visited {
    color: var(--cocoa-brown);
}

a.portfolio-link:link {
    color: var(--soft-peach);
}

a:link {
    color: var(--persian-red);
    text-decoration: none;
}

a:visited {
    color: var(--cocoa-brown);
}

a:hover {
    color: var(--deep-coffee);
}

input[type=text], select, textarea { /* for styling contact form */
    font-family: "almarai", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

input[type=submit] { /* for styling contact "submit" page */
    background-color: var(--persian-red);
    color: white;
    font-family: "almarai", Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover { /* for different hover color on contact "submit" button */
    background-color: var(--deep-coffee);
  }

#resume-top p {
    font-size: 16px;
    line-height: 10px;
    text-align: center;
}

.experience {
    margin: 2.75em auto;
}

.form {
    text-align: center;
    line-height: 20px;
    margin: 1em auto;
}

.portfolio-button {
    background-color: var(--persian-red);
    text-align: center;
    line-height: 80px;
    border-radius: 35px;
    color: var(--soft-peach);
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 1;
    margin: 2em 2em;
    padding: 30px 0;
}

.portfolio-button:hover {
    background-color: var(--deep-coffee);
}

.portfolio img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.portfolio img:hover {
    opacity: 80%;
}

hr.solid {
    border-top: var(--burnt-umber) solid 5px;
    margin: -1em -4em 0 -4em;
    
}

/* .home-doodle {
    background-color: cyan;
} */

/* about page media screeens */

@media screen 
and (min-width: 1000px) {
    .hi {
        background: red;
        font-size: 400%;
    }
}

@media screen
and (min-width: 1400px) {
    .hi {
        background: yellow;
    }
}