body {
    background-color: #F4ECEC;
    color: #440909;
    margin: 3.5em 3em 2em;
}

p {
    text-align: justify;
    line-height: 15px;
}

h1 {
    font-size: 250%;
    text-align: center;
    margin: 1em auto;
}

h2 {
    margin: 1.5em 0 0 0;
    text-decoration: underline;
}

li {
    line-height: 1.7;
    font-size: 105%;
}

nav {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    margin: 1em 0.5em;
    word-spacing: 0.5em;
}

footer {
    margin: 5em 0 0 0;
    text-align: center;
}

a:link {
    color: #CB2929;
}

a:visited {
    color: #392525;
}

a:hover {
    color: #7A635F;
}

#resume-top p {
    font-size: 16px;
    text-align: center;
}

.experience {
    margin: 2.75em auto;
}
#projects {
    background-color: lightblue;
    border: 1px solid red;
    text-align: center;
    padding: 1em 0 1em 0;
}
